.bg-dark {
  background-color: black !important;
}

.site-progress {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.footer {
  width: 100%;
  background-color: grey;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: white;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 0rem;
  letter-spacing: 1px;
  word-spacing: 2px;
}
p {
  font-size: 0.9rem;
  color: #d8d8d8;
}
.social_links {
  background: #383838;
  height: 70px;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  bottom: 0%;
  width: 100%;
}
.social_links .combo {
  transform: scale(0.9);
  transition: 0.4s ease-in;
  margin: 0 0.5rem;
  height: 2em;
  width: 2em;
  line-height: 3em;
}
.combo .circle {
  color: #f9f9f9;
  transition: 0.4s ease-in;
  font-size: 3em;
}
.combo .icon {
  color: #444343;
  font-size: 1.5rem;
  transform: translateY(1px);
  transition: 0.2s ease-in;
}
.combo:hover {
  transform: scale(1.1);
}
.combo:hover,
.combo:hover .icon {
  color: white;
}
.ig:hover,
.ig:hover .circle {
  color: #e91e63;
}
.fb:hover,
.fb:hover .circle {
  color: #2196f3;
}
.yt:hover,
.yt:hover .circle {
  color: #f44336;
}
.tw:hover,
.tw:hover .circle {
  color: #2196f3;
}
.gt:hover,
.gt:hover .circle {
  color: #1f1f1f;
}

.contact {
  background: linear-gradient(
    to right,
    rgb(228, 107, 107) 20%,
    rgb(90, 112, 211) 40%,
    #ff0 60%,
    #fff 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600;);
.snip1573 {
  background-color: #000;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 10px;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.snip1573 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1573:before,
.snip1573:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #000000;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  content: "";
  opacity: 0.9;
  z-index: 1;
}

.snip1573:before {
  -webkit-transform: skew(45deg) translateX(-155%);
  transform: skew(45deg) translateX(-155%);
}

.snip1573:after {
  -webkit-transform: skew(45deg) translateX(155%);
  transform: skew(45deg) translateX(155%);
}

.snip1573 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.snip1573 figcaption {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
}

.snip1573 h3 {
  background-color: #000000;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
}

.snip1573 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.snip1573:hover > img,
.snip1573.hover > img {
  opacity: 0.5;
}

.snip1573:hover:before,
.snip1573.hover:before {
  -webkit-transform: skew(45deg) translateX(-55%);
  transform: skew(45deg) translateX(-55%);
}

.snip1573:hover:after,
.snip1573.hover:after {
  -webkit-transform: skew(45deg) translateX(55%);
  transform: skew(45deg) translateX(55%);
}

.snip1573:hover figcaption,
.snip1573.hover figcaption {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

@import url(https://fonts.googleapis.com/css?family=Muli);
.snip1555 {
  font-family: "Muli", Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 1.5px;
  line-height: 1em;
  margin: 15px 40px;
  text-transform: uppercase;
}
.snip1555 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 0.6em;
  padding: 12px 15px;
  position: relative;
}
.snip1555 li a {
  color: #fff;
  text-decoration: none;
}
.snip1555 li:before,
.snip1555 li:after {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  height: 2px;
  width: 35%;
  background-color: #528cb3;
  position: absolute;
  content: "";
  opacity: 0;
}
.snip1555 li:before {
  top: 0;
  left: 0;
}
.snip1555 li:after {
  bottom: 0;
  right: 0;
}
.snip1555 li:hover:before,
.snip1555 li.hover:before,
.snip1555 li:hover:after,
.snip1555 li.hover:after {
  opacity: 1;
}
.snip1555 li:hover:before,
.snip1555 li.hover:before {
  left: 65%;
}
.snip1555 li:hover:after,
.snip1555 li.hover:after {
  right: 65%;
}
/* Demo purposes only */
body {
  background-color: #212121;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1222 {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  float: left;
  color: #bdbdbd;
  margin: 0px 15px 60px;
  max-width: 310px;
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.snip1222 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
}
.snip1222 h1,
.snip1222 h5 {
  margin: 0;
  line-height: 1.1em;
}
.snip1222 h1 {
  font-family: "Lora", Arial, sans-serif;
  font-size: 3.2em;
  margin: 0px;
}
.snip1222 h5 {
  line-height: 0.5em;
  font-weight: 400;
}
.snip1222 .square {
  height: 97.5px;
  width: 97.5px;
  overflow: hidden;
  position: absolute;
  top: 60%;
  left: 50%;
  content: "";
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  transform: rotate(45deg) translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.snip1222 .square:before,
.snip1222 .square:after,
.snip1222 .square div:before,
.snip1222 .square div:after {
  background-color: #bdbdbd;
  position: absolute;
  content: "";
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.snip1222 .square:before,
.snip1222 .square:after {
  height: 4px;
  width: 40%;
}
.snip1222 .square div:before,
.snip1222 .square div:after {
  width: 4px;
  height: 40%;
}
.snip1222 .square:before,
.snip1222 .square div:before {
  left: 0;
  top: 0;
}
.snip1222 .square:after,
.snip1222 .square div:after {
  bottom: 0;
  right: 0;
}
/* Demo purposes only */
body {
  background-color: #212121;
}

#scroll-progress {
  position: fixed;
  top: 0;
  width: 0%;
  height: 4px;
  background: #7983ff;
  z-index: 10000;
  height: 1.5px;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.snip1200 {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 310px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}
figure.snip1200 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
figure.snip1200 img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}
figure.snip1200 figcaption {
  position: absolute;
  top: 45%;
  left: 7%;
  right: 7%;
  bottom: 45%;
  border: 1px solid white;
  border-width: 1px 1px 0;
}
figure.snip1200 .heading {
  overflow: hidden;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  position: absolute;
  bottom: 0;
  width: 100%;
}
figure.snip1200 h2 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
}
figure.snip1200 h2 span {
  font-weight: 800;
}
figure.snip1200 h2:before,
figure.snip1200 h2:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: "";
  background: white;
  top: 50%;
}
figure.snip1200 h2:before {
  left: -1000%;
}
figure.snip1200 h2:after {
  right: -1000%;
}
figure.snip1200 p {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: 0.9em;
}
figure.snip1200 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1200:hover img,
figure.snip1200.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.snip1200:hover figcaption,
figure.snip1200.hover figcaption {
  top: 7%;
  bottom: 7%;
}
figure.snip1200:hover p,
figure.snip1200.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
